.App {
  display: flex;
  flex-direction: column;
  justify-content : space-between;
  text-align: center;
}

.App-logo {
  height: 15vmin;
  color: #5E636C;
}

.App-header {
  background-color:#a8c4c7;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E636C;
}

.Bande {
  min-height: 3vh;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.BandeNoire {
  background-color:#5E636C;
  min-height: 0.5vh;
}

.whiteboard {
  height: 75%;
  width: 75%;
  background-color: 'rgba(201,205,216,1)';
  border: "2px solid #000000"
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

