.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2291E9;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E636C;
}

.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: #09d3ac;
}

.BandeNoire {
  background-color:#5E636C;
  min-height: 2vh;
}
