.App {
  display: flex;
  flex-direction: column;
  justify-content : space-between;
  text-align: center;
}

.App-logo {
  height: 15vmin;
  color: #5E636C;
}

.App-header {
  background-color:#a8c4c7;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E636C;
}

.App-body {
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: #09d3ac;
}

.BandeNoire {
  background-color:#5E636C;
  min-height: 1vh;
}

.Partie-description {
  color: black;
  border-color: black;
  border-width:2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
};

.Bloc-partie-caract {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
